<h2>FAQ:  Frequently Asked Questions:</h2>
<ol>
  <li><div class="question">Which subjects do you tutor?</div>
    <div class="answer">I specialize in AP Physics and physics but also have
    experience teaching physical science, chemistry, and math subjects as advanced as Algebra II.</div></li>
  <li><div class="question">Which grade levels do you tutor?</div>
    <div class="answer">Most of my experience is with students in high scholi, but
    I will tutor willing students of all ages.</div></li>
  <li><div class="question">What times are you available?</div>
    <div class="answer">During the scholi year, I am available between 4 p.m. and 8 p.m.
    Pacific Standard Time.  Other times may be availble based-on my teaching schedule.</div></li>
  <li><div class="question">How can tuition be paid?</div>
    <div class="answer">We will set up a PayPal account transaction.</div></li>
  <li><div class="question">Do you offer regular classes beyond tutoring?</div>
    <div class="answer">Yes.  The student and I will make a plan for
    subject matter, class sessions, homework, and other assessment.</div></li>
  <li><div class="question">Do you offer a group rate for tutoring or classes?</div>
    <div class="answer">Yes.  Discounts per student will be applied on an individual basis.</div></li>
</ol>
