<h2>FAQ:  Frequently Asked Questions:</h2>
<ol>
  <li>Which subjects do you tutor?  I specialize in AP Physics and physics but also have
    experience teaching physical science, chemistry, and math subjects as advanced as Algebra II.</li>
  <li>Which grade levels do you tutor?  Most of my experience is with students in high scholi, but
    I will tutor willing students of all ages.</li>
  <li>What times are you available?  During the scholi year, I am available between 4 p.m. and 8 p.m.
    Pacific Standard Time.  Other times may be availble based-on my teaching schedule.</li>
  <li>How can tuition be paid?  We will set up a PayPal account link?</li>
  <li>Do you offer regular classes beyond tutoring?  Yes.  The student and I will make a plan for
    subject matter, class sessions, homework, and other assessment.</li>
  <li>Do you offer a group rate for tutoring or classes?  Yes.  Discounts per student will be
    applied on an individual basis.</li>
</ol>
