<div class="content" role="main">

<form id="contact-form">
  <h2>Contact Me:</h2>
  <mat-form-field class="example-full-width">

  <mat-label>First Name</mat-label>
    <input matInput type="text" id="fname" placeholder="First Name">
  </mat-form-field> <br>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" id="lname" placeholder="Last Name">
  </mat-form-field> <br>

  <mat-form-field class="example-full-width">
    <mat-label>Message</mat-label>
    <textarea matInput type="text" id="message" placeholder="Message"></textarea>
  </mat-form-field> <br>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email" placeholder="Ex. pat@example.com">
  </mat-form-field> <br>

  <input type="button" value="Send Email" onclick="sendEmail()"/>
</form>

</div>
