.question: {
  color: red;
}

h2 {
  color:  red;
  font-size: 25px;
}

.future: {
  color: blue;
  font-size: 45px;
  text-align: center;
}

.portrait {

  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

#abouttype {
  font-weight: bold;
}
