<h2>About Kim</h2>
<div class="portrait"><img src="/assets/img/KSchulzeResize.png" width="300"/><div>
<p>I am a current <span id="abouttype">AP Physics</span>, <span id="abouttype">Physics</span>, and <span id="abouttype">Robotics</span> teacher at a private school in the Seattle area.</p>

<p>My qualifications include: </p>
<ul>
  <li>Certified Professional Teacher, State of Washington</li>
  <li>Twelve years total of in-person classroom teaching experience in both public and private schools</li>

  <li>Recipient of the 2017 IslandWood Patsy Collins Award for Excellence in Education, Environment, and Community <img src="/assets/img/islandwoodlogo.png" height="40"></li>
  <li>AP Physics</li>
  <li>Physics</li>
  <li>Algebra II, Geometry, and Algebra
  <li>Integrated Physical Science:  physics, chemistry, climate science, and scientific method</li>
  <li>Chemistry</li>
  <li>Web Development with HTML, CSS, Javascript, and C#.</li>
  <li>Co-Founder of FIRST Robotics Team 3574, The High Tekerz</li>
  <li>Advocate for Hands-On Problem-Based Activities</li>
</ul>

<p>My education includes:</p>
<ul>
  <li><img src="/assets/img/psulogo.jpg" height="50"/>Portland State University, Masters of Education, 2006</li>
  <li>Smith College, Bachelor of Arts, 2001 <img src="/assets/img/smithcollegelogo.png" height="75"/></li>
  <li>Epicodus Coding School, Web Developer Certificate, 2018</li>
</ul>
