<h2>About Kim</h2>
<p>I am a current AP Physics, Physics, and Robotics teacher at a private school in the Seattle area.</p>

<p>My qualifications include: </p>
<ul>
  <li>Certified Professional Teacher, State of Washington</li>
  <li>Twelve years total of in-person classroom teaching experience in both public and private schools</li>
  <li>AP Physics</li>
  <li>Physics</li>
  <li>Algebra II, Geometry, and Algebra
  <li>Integrated Physical Science:  physics, chemistry, climate science, and scientific method</li>
  <li>Chemistry</li>
  <li>Web Development with HTML, CSS, Javascript, and C#.</li>
  <li>Co-Founder of FIRST Robotics Team 3574, The High Tekerz</li>
  <li>Advocate for Hands-On Problem-Based Activities</li>
  <li>Recipient of the 2017 Patsy Collins Award for Excellence in Education, Environment, and Community</li>
</ul>

<p>My education includes:</p>
<ul>
  <li>Portland State University, Masters of Education, 2006</li>
  <li>Smith College, Bachelor of Arts, 2001</li>
  <li>Epicodus Coding School, Web Developer Certificate, 2018</li>
</ul>
