<p>Physics Resources</p>

<ul>
  <li><a href="https://apcentral.collegeboard.org/pdf/ap-physics-1-course-and-exam-description.pdf?course=ap-physics-1-algebra-based">
    AP Physics Course and Exam Description</a></li>

  <li><a href="https://apcentral.collegeboard.org/courses/ap-physics-1/exam/past-exam-questions">AP Physics 1 Past Exam Questions</a></li>

  <li><a href="https://phet.colorado.edu/">PhET Simulations from The University of Colorado, Boulder</a></li>

  <li><a href="https://phet.colorado.edu/en/simulations/filter?subjects=physics&sort=alpha&view=grid/">Physics PhET Simulations</a></li>

  <li><a href="https://openstax.org/details/books/college-physics-ap-courses">Open Stax College Physics for AP Physics Courses Textbook</a></li>
</ul>
