<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="My AP Physics Plan"
    src="/assets/img/KSchulzeResize.png"/>
  <span><h1>My AP Physics Plan ~ Science and Math Tutoring Service</h1></span>
    <div class="spacer"></div>
</div>

<br><br><br><br>
<app-message-slide></app-message-slide>

<div class="content" role="main">

  <mat-tab-group animationDuration="0ms">

    <mat-tab label="About Kim">
      <app-about></app-about>
    </mat-tab>

    <mat-tab label="FAQ">
      <app-faq></app-faq>
    </mat-tab>

    <mat-tab label="Physics Resources">
      <app-physics-resources></app-physics-resources>
    </mat-tab>

    <mat-tab label="Kinematics Plan">
       <app-kinematics></app-kinematics>
    </mat-tab>

    <mat-tab label="Contact Me">
      <app-contact-form></app-contact-form>
    </mat-tab>

  </mat-tab-group>

<br><br>

  <!-- Footer -->
  <footer>
      &copy; Kim Schulze &nbsp;
  </footer>

</div>

<router-outlet></router-outlet>
