h2 {
  color:  blue;
  font-size: 25px;
}

table, td {

}

table {
  table-layout: fixed;
}

td {
  padding: 15px;
}

button {
  text-align: center;
}

.container {
  word-wrap: break-word;
  max-width: 1000px;
}

.tableContainer {
  text-align: center;
}

.showAnswer {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: center;
}

.equation101-showing {
  display: none;
}

.equation102-showing {
  display: none;
}

.equation103-showing {
  display: none;
}

.equation104-showing {
  display: none;
}

.equation201-showing {
  display: none;
}

.equation202-showing {
  display: none;
}

.equation203-showing {
  display: none;
}

.equation204-showing {
  display: none;
}

.equation301-showing {
  display: none;
}

.equation302-showing {
  display: none;
}

.equation303-showing {
  display: none;
}

.equation304-showing {
  display: none;
}

.equation401-showing {
  display: none;
}

.equation402-showing {
  display: none;
}
.equation403-showing {
  display: none;
}

.equation404-showing {
  display: none;
}

.equation501-showing {
  display: none;
}

.equation502-showing {
  display: none;
}
.equation503-showing {
  display: none;
}

.equation504-showing {
  display: none;
}
